section.catalog
   .conteiner
      p.catalog__subtitle Menu
      h2.catalog__title Food Full of treaty Love
      p.catalog__text There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers, 
      .catalog__row 
         .product
            img.product__img(src="./assets/imgs/chiken.png", alt="")
            .product__name
               h3.name__title Vegie Muffen
               span.name__price 16$
            p.product__description There are many things are needed to start the Fast Food Business.
            .product__grade
               a.btn.grade__btn &#10010;
               span.grade__star &#9733 &#9733 &#9733 &#9733 &#9734;
         .product
            img.product__img(src="./assets/imgs/image11.png", alt="")
            .product__name
               h3.name__title Salads
               span.name__price 12$
            p.product__description There are many things are needed to start the Fast Food Business.
            .product__grade
               a.btn.grade__btn &#10010;
               span.grade__star &#9733 &#9733 &#9733 &#9733 &#9733
         .product
            img.product__img(src="./assets/imgs/image1.png", alt="")
            .product__name
               h3.name__title Burger
               span.name__price 10
            p.product__description There are many things are needed to start the Fast Food Business.
            .product__grade
               a.btn.grade__btn &#10010;
               span.grade__star &#9733 &#9733 &#9733 &#9734; &#9734;
         .product
            img.product__img(src="./assets/imgs/image2.png", alt="")
            .product__name
               h3.name__title Delmonico Steak dish
               span.name__price 14$
            p.product__description There are many things are needed to start the Fast Food Business.
            .product__grade
               a.btn.grade__btn &#10010;
               span.grade__star &#9733 &#9733 &#9734; &#9734; &#9734;
         .product
            img.product__img(src="./assets/imgs/image3.png", alt="")
            .product__name
               h3.name__title Vegie Muffen
               span.name__price 9$
            p.product__description There are many things are needed to start the Fast Food Business.
            .product__grade
               a.btn.grade__btn &#10010;
               span.grade__star &#9733 &#9733 &#9733 &#9733 &#9734;
         .product
            img.product__img(src="./assets/imgs/image4.png", alt="")
            .product__name
               h3.name__title Vegie Muffen
               span.name__price 15$
            p.product__description There are many things are needed to start the Fast Food Business.
            .product__grade
               a.btn.grade__btn &#10010;
               span.grade__star &#9733 &#9733 &#9733 &#9734; &#9734;
      a.btn.catalog__btn Learn More
