section.lastsk   
   .conteiner
      footer.footer 
         .footer__logo 
            img.logo__img(src="./assets/imgs/logo.svg", alt="logo")
            ul.footer__list
               li.footer__item
                  a.footer__link(href="") www.company name.com
               li.footer__item
                  a.footer__link(href="mailto:companyname@gmail.com") companyname@gmail.com
               li.footer__item 
                  a.footer__link(href="tel:+74851180325") Phone: +7 485-118-03-25
         .footer__home 
            h3.footer__title Home
            ul.footer__list 
               li.footer__item Landingpage
               li.footer__item Documentation
               li.footer__item Program
               li.footer__item UI & UX Design
               li.footer__item Web Design
         .footer__home 
            h3.footer__title Menu
            ul.footer__list 
               li.footer__item Landingpage
               li.footer__item Documentation
               li.footer__item Program
               li.footer__item UI & UX Design
               li.footer__item Web Design
         .footer__company 
            h3.footer__title Company
            ul.footer__list
               li.footer__item Landingpage
               li.footer__item Documentation
               li.footer__item Referral Program
            .footer__icon
               a.icon__link(href="")
                  img(src="./assets/imgs/instagram.svg", alt="").icon__img
               a.icon__link(href="")
                  img(src="./assets/imgs/facebook.svg", alt="").icon__img
               a.icon__link(href="")
                  img(src="./assets/imgs/twitter.svg", alt="").icon__img
               a.icon__link(href="")
                  img(src="./assets/imgs/youtube.svg", alt="").icon__img
               