section.fs 
   .conteiner
      main.main 
         img.main__img(src="./assets/imgs/cooking.png", alt="cooking")
         h1.main__title Making time a good time by making food the good food.
         p.main__text There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment,
         <a class="btn main__btn" href="">Order Now</a>
         <a class="btn main__btn main__btn-Details" href="">Food Details</a>