section.header 
      .conteiner 
         header.section__header 
            .header__menu
               img.header__logo(src="./assets/imgs/logo.svg", alt="logo")
               nav.menu
                  ul.menu__list
                     li.menu__item 
                        a.menu__link(href="") Home
                     li.menu__item
                        a.menu__link(href="") About us
                     li.menu__item
                        a.menu__link(href="") Menu
                     li.menu__item
                        a.menu__link(href="") Features
                     li.menu__item
                        a.menu__link(href="") Contact us
            a.btn.btn__header(href="") Booking Now