doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Food Landing page
      link(rel="stylesheet", href="./assets/css/app.css")
   body 
      include ./components/header.pug
      include ./components/fs.pug
      include ./components/features.pug
      include ./components/catalog.pug
      section.lastsk   
         .conteiner
            footer.footer 
               .footer__logo 
                  img.logo__img(src="./assets/imgs/logo.svg", alt="logo")
                  ul.footer__list
                     li.footer__item
                        a.footer__link(href="") www.company name.com
                     li.footer__item
                        a.footer__link(href="mailto:companyname@gmail.com") companyname@gmail.com
                     li.footer__item 
                        a.footer__link(href="tel:+74851180325") Phone: +7 485-118-03-25
               .footer__home 
                  h3.footer__title Home
                  ul.footer__list 
                     li.footer__item Landingpage
                     li.footer__item Documentation
                     li.footer__item Program
                     li.footer__item UI & UX Design
                     li.footer__item Web Design
               .footer__home 
                  h3.footer__title Menu
                  ul.footer__list 
                     li.footer__item Landingpage
                     li.footer__item Documentation
                     li.footer__item Program
                     li.footer__item UI & UX Design
                     li.footer__item Web Design
               .footer__company 
                  h3.footer__title Company
                  ul.footer__list
                     li.footer__item Landingpage
                     li.footer__item Documentation
                     li.footer__item Referral Program
                  .footer__icon
                     a.icon__link(href="")
                        img(src="./assets/imgs/instagram.svg", alt="").icon__img
                     a.icon__link(href="")
                        img(src="./assets/imgs/facebook.svg", alt="").icon__img
                     a.icon__link(href="")
                        img(src="./assets/imgs/twitter.svg", alt="").icon__img
                     a.icon__link(href="")
                        img(src="./assets/imgs/youtube.svg", alt="").icon__img
                     
               //-       <div class="container">
               //- <div class="row" style="text-align:center;">
               //- <h2>Bootstrap Dark Footer UI</h2>
               //- </div>
               //- <!----------- Footer ------------>
               //- <footer class="footer-bs">
               //- <div class="row">
               //- <div class="col-md-3 footer-brand animated fadeInLeft">
               //- <h2>Logo</h2>
               //- <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
               //- <p>© 2014 BS3 UI Kit, All rights reserved</p>
               //- </div>
               //- <div class="col-md-4 footer-nav animated fadeInUp">
               //- <h4>Menu —</h4>
               //- <div class="col-md-6">
               //- <ul class="pages">
               //- <li><a href="#">Travel</a></li>
               //- <li><a href="#">Nature</a></li>
               //- <li><a href="#">Explores</a></li>
               //- <li><a href="#">Science</a></li>
               //- <li><a href="#">Advice</a></li>
               //- </ul>
               //- </div>
               //- <div class="col-md-6">
               //- <ul class="list">
               //- <li><a href="#">About Us</a></li>
               //- <li><a href="#">Contacts</a></li>
               //- <li><a href="#">Terms & Condition</a></li>
               //- <li><a href="#">Privacy Policy</a></li>
               //- </ul>
               //- </div>
               //- </div>
               //- <div class="col-md-2 footer-social animated fadeInDown">
               //- <h4>Follow Us</h4>
               //- <ul>
               //- <li><a href="#">Facebook</a></li>
               //- <li><a href="#">Twitter</a></li>
               //- <li><a href="#">Instagram</a></li>
               //- <li><a href="#">RSS</a></li>
               //- </ul>
               //- </div>
               //- <div class="col-md-3 footer-ns animated fadeInRight">
               //- <h4>Newsletter</h4>
               //- <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
               //- <p>
               //- <div class="input-group">
               //- <input type="text" class="form-control" placeholder="Search for...">
               //- <span class="input-group-btn">
               //- <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
               //- </span>
               //- </div><!-- /input-group -->
               //- </p>
               //- </div>
               //- </div>
               //- </footer>
               //- <section style="text-align:center; margin:10px auto;"><p>Designed by <a href="/">Prince J. Sargbah</a></p></section>

               //- </div>
